<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ping Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/output.css" type="text/css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/index.js"></script>
    </head>
    <body class="w-screen">
        <div class="max-w-3xl min-h-screen md:border-x border-neutral-300 mx-auto p-4">
            <h1 class="text-3xl font-semibold">Ping Tester</h1>
            <p class="mb-6">Measure the round trip time of your connection to all of my servers!</p>
            <p class="text-center fade mb-4" id="loading-text">Please wait, fetching servers...</p>
            <div class="fade fade-transparent" id="servers">
                <h2 class="text-2xl">Servers</h2>
                <hr class="mb-2">
            </div>
        </div>
    </body>
</html>