<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ping Test</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/output.css" type="text/css">
    </head>
    <body class="w-screen">
        <div class="max-w-3xl min-h-screen md:border-x border-neutral-300 mx-auto py-2">
            <h1 class="text-center text-3xl font-semibold mb-6">Ping Tester</h1>
            <p class="text-center">Please wait, fetching servers...</p>
        </div>
    </body>
</html>