<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ping Tester</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;1,600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/output.css" type="text/css">

        <meta name="og:title" content="Ping Tester">
        <meta name="og:description" content="A simple tool to measure the round trip time of your connection to all of my servers!">
        <meta name="description" content="A simple tool to measure the round trip time of your connection to all of my servers!">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/static/js/index.js"></script>
    </head>
    <body class="w-screen">
        <div class="max-w-3xl min-h-screen md:border-x border-neutral-800 bg-neutral-900 mx-auto p-4">
            <h1 class="text-3xl font-semibold">Ping Tester</h1>
            <p class="mb-4 text-neutral-300">Measure the round trip time of your connection to all of my servers!</p>
            <p class="text-center fade mb-2" id="loading-text">Please wait, fetching servers...</p>
            <div class="fade fade-transparent" id="servers-parent">
                <label for="interval" class="inline-block mb-1 text-neutral-300 text-md font-lg">Ping interval: </label>
                <select id="interval" class="bg-neutral-800 border border-neutral-600 text-neutral-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 inline px-1.5 py-1 mb-2">
                    <option value="1">1 second</option>
                    <option value="2">2 seconds</option>
                    <option value="5" selected>5 seconds</option>
                    <option value="10">10 seconds</option>
                </select>
                <h2 class="text-2xl">Servers <span class="text-sm" id="online-count">(0/0 servers online)</span></h2>
                <hr class="mb-2 border-neutral-700">
                <div id="servers"></div>
            </div>
        </div>
    </body>
</html>