@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Noto Sans', sans-serif;
}
body {
    background-color: #111;
    color: white;
}
.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.fade-transparent {
    opacity: 0;
    user-select: none;
}